---
// Component Imports
import TableRenderer from "../components/TableRenderer.vue";
import Navbar from "../components/Navbar.vue";
import BasicLayout from "../layouts/BasicLayout.astro";

const { pathname } = Astro.url;

// const response = await fetch(
//   `https://main--function-app-dx.netlify.app/.netlify/functions/dribl`
// );
// const data = await response.json();

const processData =
  "[" + process.env.JSON_RESPONSE.split("[").slice(1).join("[");

console.log(processData);

console.log(JSON.parse(processData));

const data = [] as any;
---

<BasicLayout>
  <header>
    <h1>Capital Futsal League</h1>
    <h2>Open</h2>
  </header>
  <Navbar pathname={pathname} />
  <TableRenderer parentData={data} client:visible />
</BasicLayout>

<style>
  header {
    background: white;
    padding: 1rem;
  }
</style>
