---
// Component Imports
import Results from "../components/Results.vue";
import BasicLayout from "../layouts/BasicLayout.astro";
import Navbar from "../components/Navbar.vue";
import { getData } from "../services/Table.service";

const { pathname } = Astro.url;

const data = await getData();
---

<BasicLayout>
  <header>
    <h1>Capital Futsal League</h1>
    <h2>Open</h2>
  </header>
  <Navbar pathname={pathname} />
  <Results parentData={data} client:visible />
</BasicLayout>

<style>
  header {
    background: white;
    padding: 1rem;
  }
</style>
